@page "/plugins"

<PageTitle>Plugins</PageTitle>

<MudText Typo="Typo.h3" GutterBottom="true">My Plugins</MudText>

<MudGrid>
    <MudItem xs="12" sm="6">
        <MudCard>
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h6">LordUtils</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>
                <MudText>A developer API designed to save time without bloat.</MudText>
                <MudText Typo="Typo.body2">Including easy to use methods for server, chat, player and Discord management, there is no better utils plugin anywhere!</MudText>
            </MudCardContent>
            <MudCardActions>
                <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Default" Href="https://github.com/oflords/LordUtils" Target="_blank" />
            </MudCardActions>
        </MudCard>
    </MudItem>
    <MudItem xs="12" sm="6">
        <MudCard>
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h6">Duels</MudText>
                </CardHeaderContent>
                <CardHeaderActions>
                    <MudIconButton Icon="@Icons.Material.Filled.Lock" Color="Color.Default" />
                </CardHeaderActions>
            </MudCardHeader>
            <MudCardContent>
                <MudText>A fully featured Practice plugin, featuring auto-resetting arenas, events, game queues and stats!</MudText>
                <MudCarousel Class="mud-width-full" Style="height:200px;" ShowBullets="true" AutoCycle="true" TData="object">
                    <MudCarouselItem Color="@Color.Primary">
                        <div class="d-flex" style="height:100%">
                            <MudImage Src="Images/Duels1.png" Fluid="true" ObjectFit="ObjectFit.Contain" Class="rounded-lg" />
                        </div>
                    </MudCarouselItem>
                    <MudCarouselItem Color="@Color.Primary">
                        <div class="d-flex" style="height:100%">
                            <MudImage Src="Images/Duels2.png" Fluid="true" ObjectFit="ObjectFit.Contain" Class="rounded-lg" />
                        </div>
                    </MudCarouselItem>
                    <MudCarouselItem Color="@Color.Primary">
                        <div class="d-flex" style="height:100%">
                            <MudImage Src="Images/Duels3.png" Fluid="true" ObjectFit="ObjectFit.Contain" Class="rounded-lg" />
                        </div>
                    </MudCarouselItem>
                </MudCarousel>
            </MudCardContent>
            <MudCardActions>
                <MudIconButton Icon="@Icons.Custom.Brands.YouTube" Color="Color.Default" Href="https://youtu.be/xdetneAhDLU" Target="_blank" />
            </MudCardActions>
        </MudCard>
    </MudItem>
    <MudItem xs="12" sm="6">
        <MudCard>
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h6">Bungee Core</MudText>
                </CardHeaderContent>
                <CardHeaderActions>
                    <MudIconButton Icon="@Icons.Material.Filled.Lock" Color="Color.Default" />
                </CardHeaderActions>
            </MudCardHeader>
            <MudCardContent>
                <MudText>A dead simple bungee core, allowing for proxy wide staff chats/monitoring and easy MOTD reloads!</MudText>
                <MudCarousel Class="mud-width-full" Style="height:200px;" ShowBullets="true" AutoCycle="true" TData="object">
                    <MudCarouselItem Color="@Color.Primary">
                        <div class="d-flex" style="height:100%">
                            <MudImage Src="Images/Bungee1.png" Fluid="true" ObjectFit="ObjectFit.Contain" Class="rounded-lg" />
                        </div>
                    </MudCarouselItem>
                    <MudCarouselItem Color="@Color.Primary">
                        <div class="d-flex" style="height:100%">
                            <MudImage Src="Images/Bungee2.png" Fluid="true" ObjectFit="ObjectFit.Contain" Class="rounded-lg" />
                        </div>
                    </MudCarouselItem>
                    <MudCarouselItem Color="@Color.Primary">
                        <div class="d-flex" style="height:100%">
                            <MudImage Src="Images/Bungee3.png" Fluid="true" ObjectFit="ObjectFit.Contain" Class="rounded-lg" />
                        </div>
                    </MudCarouselItem>
                </MudCarousel>
            </MudCardContent>
            <MudCardActions>
                <MudIconButton Icon="@Icons.Custom.Brands.YouTube" Color="Color.Default" Href="https://youtu.be/I1-yw2FtWI4" Target="_blank" />
            </MudCardActions>
        </MudCard>
    </MudItem>
    <MudItem xs="12" sm="6">
        <MudCard>
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h6">/punish</MudText>
                </CardHeaderContent>
                <CardHeaderActions>
                    <MudIconButton Icon="@Icons.Material.Filled.Lock" Color="Color.Default" />
                </CardHeaderActions>
            </MudCardHeader>
            <MudCardContent>
                <MudText>Let your staff punish players according to the punishments you have outlined</MudText>
                <MudCarousel Class="mud-width-full" Style="height:200px;" ShowBullets="true" AutoCycle="true" TData="object">
                    <MudCarouselItem Color="@Color.Primary">
                        <div class="d-flex" style="height:100%">
                            <MudImage Src="Images/Punish1.png" Fluid="true" ObjectFit="ObjectFit.Contain" Class="rounded-lg" />
                        </div>
                    </MudCarouselItem>
                    <MudCarouselItem Color="@Color.Primary">
                        <div class="d-flex" style="height:100%">
                            <MudImage Src="Images/Punish2.png" Fluid="true" ObjectFit="ObjectFit.Contain" Class="rounded-lg" />
                        </div>
                    </MudCarouselItem>
                    <MudCarouselItem Color="@Color.Primary">
                        <div class="d-flex" style="height:100%">
                            <MudImage Src="Images/Punish3.png" Fluid="true" ObjectFit="ObjectFit.Contain" Class="rounded-lg" />
                        </div>
                    </MudCarouselItem>
                </MudCarousel>
            </MudCardContent>
            <MudCardActions>
                <MudIconButton Icon="@Icons.Custom.Brands.YouTube" Color="Color.Default" Href="https://youtu.be/-Kp6z70lj4s" Target="_blank" />
            </MudCardActions>
        </MudCard>
    </MudItem>
    <MudItem xs="12" sm="6">
        <MudCard>
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h6">UHC</MudText>
                </CardHeaderContent>
                <CardHeaderActions>
                    <MudIconButton Icon="@Icons.Material.Filled.Lock" Color="Color.Default" />
                </CardHeaderActions>
            </MudCardHeader>
            <MudCardContent>
                <MudText>Feature-Rich UHC core, with scenarios, game rules, host mode and auto world generation</MudText>
                <MudCarousel Class="mud-width-full" Style="height:200px;" ShowBullets="true" AutoCycle="true" TData="object">
                    <MudCarouselItem Color="@Color.Primary">
                        <div class="d-flex" style="height:100%">
                            <MudImage Src="Images/UHC1.png" Fluid="true" ObjectFit="ObjectFit.Contain" Class="rounded-lg" />
                        </div>
                    </MudCarouselItem>
                    <MudCarouselItem Color="@Color.Primary">
                        <div class="d-flex" style="height:100%">
                            <MudImage Src="Images/UHC2.png" Fluid="true" ObjectFit="ObjectFit.Contain" Class="rounded-lg" />
                        </div>
                    </MudCarouselItem>
                    <MudCarouselItem Color="@Color.Primary">
                        <div class="d-flex" style="height:100%">
                            <MudImage Src="Images/UHC3.png" Fluid="true" ObjectFit="ObjectFit.Contain" Class="rounded-lg" />
                        </div>
                    </MudCarouselItem>
                </MudCarousel>
            </MudCardContent>
            <MudCardActions>
                <MudIconButton Icon="@Icons.Custom.Brands.YouTube" Color="Color.Default" Href="https://youtu.be/Vw_OCytGtA0" Target="_blank" />
            </MudCardActions>
        </MudCard>
    </MudItem>
    <MudItem xs="12" sm="6">
        <MudCard>
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h6">Lobby Core</MudText>
                </CardHeaderContent>
                <CardHeaderActions>
                    <MudIconButton Icon="@Icons.Material.Filled.Lock" Color="Color.Default" />
                </CardHeaderActions>
            </MudCardHeader>
            <MudCardContent>
                <MudText>Practical lobby core, with just enough features to act as a beautiful yet robust first line of defense</MudText>
                <MudCarousel Class="mud-width-full" Style="height:200px;" ShowBullets="true" AutoCycle="true" TData="object">
                    <MudCarouselItem Color="@Color.Primary">
                        <div class="d-flex" style="height:100%">
                            <MudImage Src="Images/Lobby1.png" Fluid="true" ObjectFit="ObjectFit.Contain" Class="rounded-lg" />
                        </div>
                    </MudCarouselItem>
                    <MudCarouselItem Color="@Color.Primary">
                        <div class="d-flex" style="height:100%">
                            <MudImage Src="Images/Lobby2.png" Fluid="true" ObjectFit="ObjectFit.Contain" Class="rounded-lg" />
                        </div>
                    </MudCarouselItem>
                    <MudCarouselItem Color="@Color.Primary">
                        <div class="d-flex" style="height:100%">
                            <MudImage Src="Images/Lobby3.png" Fluid="true" ObjectFit="ObjectFit.Contain" Class="rounded-lg" />
                        </div>
                    </MudCarouselItem>
                </MudCarousel>
            </MudCardContent>
            <MudCardActions>
                <MudIconButton Icon="@Icons.Custom.Brands.YouTube" Color="Color.Default" Href="https://youtu.be/BkXaIcSXMGs" Target="_blank" />
            </MudCardActions>
        </MudCard>
    </MudItem>
</MudGrid>